<div class="twitter-data-stream">
    <mat-form-field>
        <mat-label>Country/Country Code</mat-label>
        <input matInput (keyup)="filterChanged($event)" placeholder="filter by country" #input>
    </mat-form-field>
    <div>
        <div class="tweets-container" *ngIf="(filteredTweets$ | async) as tweets">
            <div class="tweet-item" *ngFor="let tweet of tweets">
                <div class="tweet-headline">
                    <div>
                        <div [ngStyle]="{'background-image':'url('+ tweet.profileImage + ')'}" class="profile-image"></div>
                        <h3>{{ tweet.name }} <span class="screen-name">@{{ tweet.screenName }}</span></h3>
                    </div>
                    <p>{{ tweet.country }} ({{ tweet.countryCode }})</p>
                </div>
                <div class="tweet-body" [ngStyle]="{'background-color':'tweet.backgroundColor','color':'tweet.textColor'}">
                    {{ tweet.text }}
                </div>
            </div>
        </div>
    </div>
</div>