<div class="twitter-data-stream">
    <mat-form-field>
        <mat-label>Country/Country Code</mat-label>
        <input matInput (keyup)="filterChanged($event)" placeholder="filter by country" #input>
    </mat-form-field>
    <cdk-virtual-scroll-viewport itemSize="100" class="tweets-viewport">
        <app-tweet *cdkVirtualFor="let tweet of ds" [tweet]="tweet" class="tweet-item">{{tweet || 'Loading...'}}</app-tweet>
    </cdk-virtual-scroll-viewport>
    <app-tweets-counter></app-tweets-counter>
</div>